*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
    
}
header{
    background-color: #88f779;
    min-height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    background-color: #33bfff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.aside1{
    background-color: #25e9f0;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aside2{
    background-color: #b3e725;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: #90ee90;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:800px) {
    .middle{
        display: flex;
    }
    .aside1{
        order: 1;
        flex-basis: 80rem;
    }
    main{
        order: 2;
        flex-grow: 1;
    }
    .aside2{
        order: 3;
        flex-basis: 80rem;
    }
}

@media only screen and (max-width: 799px) and (min-width:601px){
    .middle{
        display: flex;
        flex-wrap: wrap;
    }
    main{

        flex-basis: 100%;
        order: 1;
    }
    .aside1{
        width: 50%;
        order: 2;
    }
    .aside2{
        width: 50%;
        order: 3;
    }
}